In [7]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width   class
0           5.1          3.5           1.4          0.2  SETOSA
1           4.9          3.0           1.4          0.2  SETOSA
2           4.7          3.2           1.3          0.2  SETOSA
3           4.6          3.1           1.5          0.2  SETOSA
4           5.0          3.6           1.4          0.2  SETOSA

In [8]:
df.columns=['sepal_len','sepal_wid','petal_len','petal_wid','class']
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid   class
0        5.1        3.5        1.4        0.2  SETOSA
1        4.9        3.0        1.4        0.2  SETOSA
2        4.7        3.2        1.3        0.2  SETOSA
3        4.6        3.1        1.5        0.2  SETOSA
4        5.0        3.6        1.4        0.2  SETOSA

In [11]:
X = df.iloc[:,0:4].vlaues
y = df.iloc[:,4].vlaues

AttributeError: 'DataFrame' object has no attribute 'vlaues'